# Secretos
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# .NET build artifacts (excepto libs/ que contiene los DLLs para Docker)
**/bin/
**/obj/
!libs/
*.user
*.suo
.vs/

# Carpetas de build por sprint
**/binSprint*/

# Storage y wwwroot locales
Pandora.API/storage/
Pandora.API/wwwroot/
